.root {
  width: max-content;
  margin: 2rem auto;
}

.toolbar {
  padding: 0 1rem !important;
  display: flex;
}

.spinner_container {
  position: relative;
}

.data_row {
  height: 53px;
}

.data_row td:last-child button {
  padding: 8px;
  visibility: hidden;
}

.data_row:hover td:last-child button {
  visibility: visible;
}

.data_row__disabled td {
  color: lightgrey !important;
}

.display_name_content {
  display: flex;
  align-items: center;
}
