.root {
  background-color: #f5f5f5;
  padding: 1rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: bold;
  flex-basis: 33.33%;
  flex-shrink: 0;
}

.secondary_heading {
  font-size: 1rem;
  align-self: center;
  color: grey;
}
