.card {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
}

.card>div {
  width: fit-content;
}